* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.calculator-container {
    align-items: center;
    justify-content: center;
    border: 5px solid grey;
    border-radius: 20px;
    background-color: #655AC9;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    min-height: 500px;
    gap: 15px;
}

.upper-row {
    display: flex;
    border: 2px solid black;
    justify-content: flex-end;
    margin-top: 20px;
    background-color: rgb(227, 228, 238);
    border-radius: 20px;
    min-width: 380px;
}

#screen {
    font-size: 6em;
}

/* ROWS */

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    padding-bottom: 80px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 3em;
    min-width: 80px;
    height: auto;
    border-radius: 20px;
    transition: 0.25s;
    background-color: #B0ABE8;
}

.button:hover {
    background-color: #5849ff;
}

#btnPlus,
#btnMinus,
#btnMultiply,
#btnEquals,
#btnDot,
#btnAC {
    background-color: #FEB95C;
}

#btnPlus:hover,
#btnMinus:hover,
#btnMultiply:hover,
#btnEquals:hover,
#btnDot:hover,
#btnAC:hover {
    background-color: #f78c00;
}